.navContent {
   display: flex;
   justify-content: flex-end;

   width: 100%;
}

.nav-item {
   margin: 5px;
}
/* .collapseWidth {
   border: 1px solid red;
   width: 50%;
} */
@media (max-width: 1199px) {
   .lgHidden {
      display: None;
   }
   .navContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      float: right;
   }
}

@media (min-width: 1200px) {
   .xlHidden {
      display: None;
   }
}
@media (max-width: 1200px) {
   .xxlHidden {
      display: None;
   }
}
