.insuranceSection {
   margin: 20px auto;
   padding: 60px;
   margin: 40px auto;
}

.insuranceColContent {
   padding: 30px;
}

.insuranceMade {
   padding: 30px 0;
}
.insuranceInnerContent h1 {
   color: black;

   font-weight: 700;
   font-size: 42px;
   margin: 30px auto;
}
.insuranceInnerContent p {
   font-size: 20px;
   font-weight: 600;
   line-height: 22px;
   padding: 30px 60px 40px 0;
}
.bannerinsurance {
   text-align: end;
}
.bannerinsurance img {
   width: 432px;
   height: 398;
}
@media (max-width: 1199.98px) {
   .insuranceMade {
      padding: 15px 0;
   }
   .insuranceInnerContent h1 {
      font-size: 34px;
      margin: 15px auto;
   }
   .insuranceInnerContent p {
      font-size: 18px;
      padding: 10px 15px 20px 0;
   }
   .bannerinsurance img {
      width: 332px;
      height: 298;
   }
}
@media (max-width: 991.98px) {
   .insuranceSection {
      padding: 30px;
      text-align: center;
   }
   .insuranceInnerContent h1 {
      margin: 20px auto;
   }
   .insuranceInnerContent p {
      font-size: 18px;
      padding: 20px 80px;
   }
   .bannerinsurance {
      text-align: center;
   }
}
@media (max-width: 767.98px) {
   .insuranceInnerContent p {
      font-size: 18px;
      padding: 20px 60px;
   }
}

@media (max-width: 576px) {
   .insuranceSection {
      padding: 0;
   }
   .insuranceInnerContent h1 {
      font-size: 28px;
   }
   .bannerinsurance img {
      width: 332px;
      height: 298;
   }
}
@media (max-width: 490px) {
   .insuranceSection {
      padding: 0;
   }
   .bannerinsurance img {
      width: 282px;
      height: 248;
   }
   .insuranceInnerContent p {
      font-size: 18px;
      padding: 20px 0px;
   }
   /* .bannerinsurance {
      width: 332px;
      height: 298;
   } */
}
