.businessServicesSection {
   padding: 60px 0;
}

.businessServicesTag {
   font-size: 48px;
   color: black;
   padding-left: 50px;
   font-weight: 700;
   margin-bottom: 8px;
}

@media (max-width: 576px) {
   .businessServicesSection {
      padding: 20px 0;
   }
   .businessServicesTag {
      font-size: 32px;
      padding: 0;
      text-align: center;

      margin: 5px auto;
   }
}
