.learnMore {
   border: none;
   border-radius: 50px;
   background-color: #203569;
   text-decoration: none;
   color: white;
   font-size: 1.1rem;
   /* padding: 15px 25px;
   
   font-weight: 700px; */
}
.learnMore:hover {
   color: white;
   background-color: #00baf2;
}
