.businessCard {
   padding: 60px 0 60px 60px;
   background-color: #f5f7fa;
   border: none;
   border-radius: 15px;
   margin: 40px auto;
}
.businessContent {
   border: 1px Solid green;

   border: none;
   border-radius: 15px;
}
.businessCardColContent {
   padding: 30px 0 60px 30px;
}

.businessInnerContent {
   padding-right: 0;
}
.businessInnerContent h1 {
   width: 390px;
   margin: 30px 0;
   color: black;
   font-size: 40px;
   font-weight: 700;
}
.businessInnerContent p {
   color: black;
   font-size: 18px;
   font-weight: 600;
   padding: 0 60px 20px 0;
}
.bannerHeight {
   height: 464px;
}
.bannerStyle {
   text-align: end;
}
.bannerSizeTwo img {
   width: 433px;
   height: 464px;
}
.bannerSizeOne img {
   width: 433px;
   height: 342px;
}
@media (max-width: 1199.98px) {
   .businessCard {
      padding: 10px;
   }
   .businessInnerContent h1 {
      font-size: 36px;
      width: 350px;
   }
   .businessInnerContent p {
      padding: 0 20px 10px 0;
   }
   .bannerSizeTwo img {
      width: 273px;
      height: 304px;
   }
   .bannerSizeOne img {
      width: 273px;
      height: 182px;
   }
}
@media (max-width: 991.98px) {
   .businessCardColContent {
      padding: 30px;
   }
   .businessCard {
      text-align: center;
   }
   .businessInnerContent {
      padding-left: 0;
      padding: 0;
   }
   .businessInnerContent h1 {
      padding: 0 60px;
      font-size: 32px;
      width: 100%;
   }
   .businessInnerContent p {
      color: black;
      font-size: 18px;
      font-weight: 600;
      padding: 0 60px;
   }
   .bannerSizeTwo img {
      display: none;
   }
   .bannerSizeOne img {
      display: none;
   }
}

@media (max-width: 767.98px) {
   .businessInnerContent h1 {
      padding: 0 30px;
      font-size: 28px;
   }
   .businessInnerContent p {
      padding: 0 30px;
   }
}
@media (max-width: 576.98px) {
   .businessCard {
      padding: 0;
   }
   .businessCardColContent {
      padding: 0;
   }
   .businessInnerContent h1 {
      padding: 0px;
   }
   .businessInnerContent p {
      padding: 0px;
   }
}
