.paytmTravelCardSectionSection {
   padding: 60px;
   margin: 40px auto;
}
.colContent {
   /* padding-left: 70px;
   padding-right: 0; */
}

@media (max-width: 991.98px) {
   .colContent {
      text-align: center;
   }
}
