.PersonalLoanSection {
   background-color: #f5f7fa;
   margin: 20px auto;
   padding: 30px;
}
.PersonalLoanContent {
   padding: 30px 30px 30px 0;
}
.PersonalLoanInnerContent {
   padding: 30px 30px 30px 0;
}
.getLoan {
   padding: 60px 0;
}
.PersonalLoanInnerContent h1 {
   margin: 30px 0;
   width: 380px;
   font-size: 36px;
   line-height: 40px;
   font-weight: 700;
}
.PersonalLoanInnerContent p {
   padding: 20px 80px 20px 0;
   font-size: 17px;
   font-weight: 600;
}
.bannerPersonalLoan {
   text-align: start;
}
.bannerPersonalLoan img {
   width: 433px;
   height: 438px;
}
@media (max-width: 1199.98px) {
   .PersonalLoanInnerContent h1 {
      font-size: 34px;
      margin: 30px 0;
      line-height: 40px;
   }
   .PersonalLoanInnerContent p {
      padding: 15px 40px 15px 0;
   }

   .bannerPersonalLoan img {
      width: 333px;
      height: 338px;
   }
}

@media (max-width: 991.98px) {
   .PersonalLoanSection {
      text-align: center;
   }
   .PersonalLoanContent {
      padding: 30px;
   }
   .getLoan {
      margin: 40px auto;
   }
   .PersonalLoanInnerContent {
      padding: 30px;
   }
   .PersonalLoanInnerContent h1 {
      width: 100%;
      padding: 20px 60px;
   }
   .PersonalLoanInnerContent p {
      padding: 20px 80px;
   }
   .bannerPersonalLoan {
      text-align: center;
   }
}

@media (max-width: 767.98px) {
   .PersonalLoanInnerContent h1 {
      padding: 20px 30px;
   }
   .PersonalLoanInnerContent p {
      padding: 20px 40px;
   }
}
@media (max-width: 575.98px) {
   .PersonalLoanInnerContent h1 {
      font-size: 28px;
   }
}
@media (max-width: 490px) {
   .PersonalLoanSection {
      padding: 20px;
   }
   .PersonalLoanContent {
      padding: 0px;
   }
   .PersonalLoanInnerContent h1 {
      padding: 20px 0px;
   }
   .PersonalLoanInnerContent p {
      padding: 20px 0;
   }
   .bannerPersonalLoan img {
      width: 283px;
      height: 288px;
   }
   .getLoan {
      padding: 0;
   }
}
