.accordionContent p {
   /* position: relative; */
   /* min-width: max-content; */
   padding-right: 5px;
   font-size: 12px;
   font-weight: 700;
   color: #505050;
   border: 1px Solid red;
}

/* .accordionContent div {
   position: absolute;
   top: 24px;
   width: 100%;
   height: 1px;
   background-color: #ccc;
   font-size: 14px;
} */
.invester {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.invester a {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-size: 12px;
   color: #707070;
}
.invester a:hover {
   color: black;
}
.moreAbout h6 {
   font-size: 14px;
   font-weight: 700;
   color: #505050;
}
.moreAbout p {
   font-size: 12px;
   color: #505050;
   font-weight: 400;
}

.moreAbout a {
   font-size: 12px;
}

.moreAbout a:hover {
   color: #00baf2;
}

.askedColContent {
   background-color: white;
   display: flex;
   height: 101px;
   align-items: center;
   border-radius: 10px;
   padding: 20px;
}

.askedColContent span {
   font-weight: 700;
}

.askedColContent p {
   font-size: 13px;
   font-weight: 500;
   padding-left: 10px;
}

.aboutRowContent {
   background-color: white;
   /* display: flex;
   justify-content: space-between;
   align-items: center; */
   border-radius: 10px;
   padding: 10px;
   margin-bottom: 20px;
}
.aboutColContent {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   align-items: center;
   height: 100%;
   margin: 0 auto;
}
.aboutColContent a {
   font-size: 12px;
   color: #002970;
}
.aboutColContent a:hover {
   font-weight: 700;
}

.questionContentt {
   display: flex;
   justify-content: space-between;
}

/* .businessColContent {
   display: flex;
} */
.businessColContent {
   border: 2px solid #85eefc;
   border-radius: 5px;
}
.businessColContent h6 {
   font-size: 15px;
   font-weight: 700;
}
.businessColContent h6:hover {
   background-color: #85eefc;
}

.questionFooter {
   display: flex;
   justify-content: center;
}

.questionFooterInnerContent h6 {
   font-size: 12px;
   font-weight: 700;
}
.questionFooterInnerContent p {
   font-size: 12px;
   font-weight: 400;
}
.footerPic {
   display: flex;
   justify-content: space-between;
}
.askedContent h6 {
   font-size: 13px;
   font-weight: 700;
}
.askedContent p {
   font-size: 12px;
   font-weight: 400;
}
li {
   font-size: 12px;
   font-weight: 400;
   margin-left: -18px;
}
/* .rechargeContent {
   display: flex;
   justify-content: space-between;
} */
.rechargeContent a {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: start;
   height: 50px;
   font-size: 12px;
   color: #707070;
}
.rechargeContent a:hover {
   color: black;
}

@media (max-width: 576px) {
   .innerContent {
      padding: 0;
   }
   .invester {
      height: 12vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 25px;
   }
   .invester a {
      justify-content: left;
   }
   .moreAbout {
      text-align: justify;
      padding: 0;
   }
   .askedColContent {
      margin: 10px auto;
   }
   .businessColContent h6 {
      border-radius: 5px;
      padding: 10px 15px;
   }
   .aboutColContent {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
   }
}
