.buy {
   padding: 60px;
   margin-bottom: 30px;
   background-color: #002970;
}
.buy h1 {
   color: white;
   font-size: 36px;
   font-weight: 700;
}
.buyCard {
   padding-top: 30px;
   display: flex;
   align-items: flex-start;
}
