.tagLine {
   background: rgb(233, 235, 239);
   background: linear-gradient(
      180deg,
      rgba(233, 235, 239, 1) 0%,
      rgba(255, 255, 255, 1) 100%
   );
}
.heroContant {
   padding: 20px;
}
.logo {
   padding-left: 80px;
   margin: 20px auto;
}
.logo img {
   width: 80px;
}

.heroTag {
   font-size: 48px;
   font-weight: 700;
   color: black;
   margin: 30px auto;
}
.logo p {
   font-size: 20px;
   font-weight: 600;
   padding: 10px auto;
}
.heroBanner {
   display: flex;
   align-items: center;
   justify-content: end;
}

.heroBanner img {
   width: 528px;
}

@media (max-width: 1399.98px) {
   .heroContant {
      padding: 20px;
   }
   .logo {
      padding-left: 80px;
      margin: 20px auto;
   }
   .logo p {
      font-size: 22px;
      font-weight: 600;
      padding: 10px auto;
      margin-bottom: 60px;
   }
   .heroTag {
      font-size: 48px;
      margin: 30px auto;
   }
}

@media (max-width: 1199.98px) {
   .heroContant {
      padding: 20px;
   }

   /* .logo {
      padding-left: 80px;
      margin: 20px auto;
   } */
   .heroTag {
      font-size: 42px;
      margin: 40px auto;
   }

   .logo p {
      font-size: 18px;
      font-weight: 600;
      padding: 10px auto;
      margin-bottom: 60px;
   }
   /*
   .appStoreButton {
      margin: 20px auto;
      text-align: center;
   }
   .heroBanner {
      text-align: center;
      display: flex;
      margin-top: 40px;
   }

   .heroBanner img {
      padding: 0 auto;
      width: 440px;
      margin: 0 auto;
   } */

   .heroBanner img {
      width: 328px;
      text-align: end;
   }
}

@media (max-width: 991.98px) {
   .heroContant {
      padding: 20px;
   }
   .logo {
      padding-left: 0;
      margin: 20px auto;
   }
   .heroTag {
      font-size: 42px;
      text-align: center;
      margin: 20px auto;
      padding: 0 60px;
   }
   .logo p {
      padding: 10px 120px;
      text-align: justify;
      margin-bottom: 60px;
   }
   .appStoreButton {
      margin: 20px auto;
      text-align: center;
   }
   .heroBanner {
      justify-content: center;
   }

   /* .heroBanner img {
      width: 428px;
   } */
}

@media (max-width: 767.98px) {
   .logo p {
      font-size: 18px;
      padding: 10px 25px;
   }
   /*
   .appStoreButton {
      margin: 20px auto;
      text-align: center;
   }
   .heroBanner {
      text-align: center;
      display: flex;
      margin-top: 40px;
   }

   .heroBanner img {
      padding: 0 auto;
      width: 360px;
      margin: 0 auto;
   } */
}

/* @media (min-width: 577px) {
   .heroContant {
      margin-bottom: 20px;
   }

   .heroTag {
      font-size: 36px;
   }
   .logo p {
      font-size: 18px;
   }
   .heroBanner img {
      width: 260px;
   }
} */
@media (max-width: 576px) {
   .heroContant {
      margin-bottom: 20px;
   }

   .heroTag {
      font-size: 36px;
   }

   .logo p {
      font-size: 16px;
   }
   .heroBanner {
      justify-content: center;
   }

   .heroBanner img {
      width: 260px;
   }
}
