.cardSection {
   background-color: #f5f7fa;
   margin: 0 auto;
   padding-bottom: 150px;
}

.cardContent {
   width: 92%;
   margin: 0 auto;
   /* background-color: white; */
}
.innerContent {
   border: none;
   padding: 35px 35px 0 35px;
}

.innerContent h1 {
   margin-top: 25px;
   color: black;
   font-weight: 700;
}

.innerContent p {
   padding: 15px 0;
   font-size: 22px;
   color: black;
}
.cardBanner img {
   width: 463px;
}

@media (max-width: 576px) {
   .cardSection {
      margin: 0 auto;
      padding-bottom: 25px;
   }
   .cardBanner img {
      width: 263px;
   }
   .innerContent {
      margin: 20px auto;
   }
}
