.unlimitedCardSection {
   background-color: #f5f7fa;
   padding: 60px;
}
.unlimitedCardContent {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 30px;
}
.unlimitedColContent {
   background-color: white;
   border-radius: 10px;
   padding: 20px 20px 0 20px;

   margin: 40px auto;
   /* padding: 20px 20px 0 20px; */
}
.unlimitedCardInnerContent {
   padding: 25px;
}
.hdfcBank {
   margin-right: 25px;
}
.sbiBank {
   margin-left: 25px;
}
.sbiIMgMargin {
   margin-top: 55px;
}
.unlimitedCardInnerContent h1 {
   font-size: 40px;
   font-weight: 700;
   margin: 20px auto;
}
.unlimitedCardInnerContent p {
   font-size: 20px;
   font-weight: 600;
   margin: 20px auto;
}
.debitCardBanner {
   margin-top: 30px;
}
.debitCardBanner img {
   width: 463px;
   height: 296px;
}
@media (max-width: 1399px) {
   .unlimitedCardInnerContent {
      padding: 15px;
   }
   .unlimitedCardInnerContent h1 {
      padding-right: 20px;
   }
}
@media (max-width: 1199.98px) {
   .unlimitedCardInnerContent {
      padding: 0px;
   }
   .unlimitedCardInnerContent h1 {
      font-size: 34px;
      padding-right: 0;
   }
   .unlimitedCardInnerContent p {
      font-size: 17px;
   }
   .debitCardBanner img {
      width: 363px;
      height: 196px;
   }
}

@media (max-width: 991px) {
   .unlimitedCardInnerContent {
      padding: 0px 100px;
      text-align: center;
   }
   .hdfcBank {
      margin-right: 0px;
   }
   .sbiBank {
      margin-top: 60px;
      margin-left: 0;
   }
   .debitCardBanner {
      text-align: center;
   }
   .debitCardBanner img {
      width: 463px;
      height: 296px;
   }
}
@media (max-width: 767px) {
   .unlimitedCardInnerContent {
      padding: 0px 30px;
   }
   .debitCardBanner img {
      width: 363px;
      height: 196px;
   }
}
@media (max-width: 576px) {
   .unlimitedCardSection {
      padding: 10px;
   }
   .unlimitedCardContent {
      padding: 0px;
   }
   .unlimitedColContent {
      padding: 10px;
      border-radius: 20px;
   }
   .unlimitedCardInnerContent {
      padding: 0px 30px;
   }
   .unlimitedCardInnerContent h1 {
      font-size: 30px;
      padding-right: 0;
   }

   .debitCardBanner img {
      width: 163px;
      height: 96px;
   }
   .debitCardBanner {
      margin-top: 15px;
   }
}

@media (max-width: 513px) {
   .unlimitedCardInnerContent {
      padding: 0;
   }
   .unlimitedCardInnerContent h1 {
      padding: 0;
   }
}
