.card {
   width: 166px;
   height: 186px;
}
.cardBtn {
   color: white;
   font-weight: 700;
   font-size: 18px;
   text-decoration: none;
   padding-left: -100px;
   margin-left: 0;
}
.cardColor {
   border: none;
   background-color: transparent;
   background-color: #01bdf2;
}
.darkBlueColor {
   border: none;
   background-color: transparent;
   background-color: #002970;
}

.imgAlign {
   padding: 10px 0 0 10px;
   border: 1px solid green;
}
.cardLink {
   display: flex;
   flex-direction: column;
}

.cardLink:hover a {
   color: white;
}

.cardBtn-2 {
   color: white;
   font-weight: 600;
   font-size: 17px;
   text-decoration: none;
   padding-left: 0;
   margin-left: 0;
}

.card.cardColor:hover {
   background-color: #00afe3;
}

.card.darkBlueColor:hover {
   background-color: #00000022;
}
/*

@media (max-width: 1399.98px) {
   ...;
}

@media (max-width: 1199.98px) { ... }



@media (max-width: 991.98px) { ... }



@media (max-width: 767.98px) { ... }

@media (max-width: 575.98px) { ... } */
