.download {
   font-size: large;

   background-color: black;
   border: 1.5px solid black;
   border-radius: 25px;
   color: white;
}

.download:hover {
   background-color: white;
   color: black;
}
