.bills {
   padding: 60px;
   background-color: #01bdf2;
   overflow: auto;
   resize: both;
   border: 1px Solid red;
}
.billsContent {
   border: 1px Solid red;
}
.billsContent h1 {
   color: white;
   font-size: 36px;
   font-weight: 700;
}
.billsCard {
   padding-top: 30px;
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 10px;
}

@media (max-width: 1399.98px) {
   .bills {
      padding: 60px 10px;
   }
   .billsCard {
      justify-content: center;
      gap: 30px;
   }
}

/*
@media (max-width: 1199.98px) { ... }
*/

@media (max-width: 991.98px) {
   .billsContent h1 {
      text-align: center;
      font-size: 32px;
   }
}

@media (max-width: 767.98px) {
   .billsContent {
      padding: 0px 30px;
      text-align: center;
      margin: 0 auto;
   }
   .billsContent h1 {
      padding: 20px 60px;
      font-size: 28px;
   }
}

@media (max-width: 575.98px) {
   .billsContent {
      padding: 10px;
      text-align: center;
   }
}
