.content {
   background-color: white;
   border: none;
   border-radius: 5px;
   display: flex;
   flex-direction: row;

   align-items: center;
   padding: 80px;
   border: 1px solid red;
   margin: 50px auto;
}
.center-card {
   display: flex;
   flex-direction: column;
   margin: auto;
   padding: 20px;
}
.logoTag {
   display: flex;
}
.logoTag h6 {
   margin-left: 5px;
   color: black;
   font-weight: 700;
}
.center-card h1 {
   color: black;
   font-size: 36px;
   font-weight: 700;
   margin: 2px auto;
   /* padding-right: 140px;

 */
   border: 1px solid red;
}
.center-card p {
   color: black;
   font-size: 18px;
   font-weight: 600;
   margin: 20px auto;
   text-align: justify;
   padding-right: 60px;
}
.banner img {
   width: 539px;
   height: 460px;
}
@media (max-width: 1399.98px) {
   .center-card h1 {
      font-size: 30px;
      margin: 10px auto;
   }
   .center-card p {
      margin: 10px auto;
      margin-bottom: 30px;
   }
   .banner img {
      width: 489px;
      height: 410px;
      align-items: center;
      padding: 20px;
   }
}
@media (max-width: 1199.98px) {
   .logoTag {
      padding-left: 0px;
   }
   .center-card h1 {
      font-size: 28px;
      padding-right: 25px;
   }
   .center-card p {
      padding-right: 30px;
      padding: 0;
   }
   .center-card {
      margin: 0, auto;
      padding: 20px 30px;
   }
   .banner img {
      width: 429px;
      height: 350px;
      padding: 0;
   }
}
@media (max-width: 991.98px) {
   .content {
      padding: 10px;
   }
   .banner {
      text-align: center;
   }
   .center-card h1 {
      padding-right: 0;
      text-align: center;
   }
   .center-card p {
      text-align: center;
   }
   .downloadBtn {
      text-align: center;
   }
   .banner img {
      margin: 30px auto;
      width: 539px;
      height: 460px;
   }
}
@media (max-width: 767.98px) {
   .content {
      padding: 10px;
   }
   .banner img {
      margin: 30px auto;
      width: 439px;
      height: 360px;
   }
}

@media (max-width: 576px) {
   .content {
      align-items: center;
      padding: 10px;
   }
   .banner img {
      width: 389px;
      height: 310px;
   }
}
@media (max-width: 450px) {
   .content {
      align-items: center;
      padding: 10px;
   }
   .banner img {
      width: 300px;
      height: 220px;
   }
}
