.footerSection {
   background-color: #f5f7fa;
   margin: 40px auto;
   padding: 60px;
}
.footerInnerContent {
}

.head {
   padding: 15px;
}
.headIcon {
   margin-left: -70px;
   padding: 15px;
}
.headIcon img {
   width: 160px;
   height: 53px;
   border: none;
}
.headIcon img:nth-child(2) {
   margin-left: 5px;
}
.head h1 {
   width: 230px;
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 15px;
}
.headSocial {
   /* width: 10%; */
   display: flex;
   justify-content: end;
   align-items: center;
   padding: 15px;
}
.headSocial svg {
   width: 1.5rem !important;
   height: 1.5rem !important;
   fill: #707070;
   margin: auto 20px;
}

hr {
   color: black;
}
.blue {
   width: 100%;
   height: 12px;
   background-color: #00baf2;
}
.darkBlue {
   width: 100%;
   height: 12px;
   background-color: #002970;
}
@media (max-width: 1399.98px) {
   .headIcon {
      margin-left: -50px;
   }
}
@media (max-width: 1199.98px) {
   .footerSection {
      margin: 20px auto;
      padding: 10px;
   }
   .headIcon {
      margin-left: -10px;
   }
}
@media (max-width: 991.98px) {
   .head {
      text-align: center;
   }
   .head h1 {
      width: 100%;
   }
   .headIcon {
      margin-left: 0;
      display: flex;
      text-align: center;
      justify-content: space-evenly;
   }
   .headSocial {
      justify-content: space-evenly;
      align-items: center;
   }
   .blue {
      height: 20px;
   }
   .darkBlue {
      height: 20px;
   }
}

@media (max-width: 991.98px) {
   .headIcon {
      flex-direction: column;
      align-items: center;
   }
   .headIcon img {
      width: 100%;
      margin: 5px auto;
   }
}

/* @media (min-width: 900px) {
   .footerInnerContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
   }
}

@media (max-width: 576px) {
   .footerSection {
      margin-top: 20px;
      padding: 10px;
   }

   .head h1 {
      font-size: 17px;
      margin-bottom: 0;
   }

   .headIcon {
      align-items: center;
      text-align: center;
   }
   .headIcon img:nth-child(1) {
      margin-right: 10px;
   }
   .headIcon img:nth-child(2) {
      margin-left: 10px;
   }
   .headIcon img {
      width: 130px;
      height: 50px;
      margin: 0;
      justify-content: space-between;
   }

   .headSocial {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 30px;
      margin-top: 30px;
   }

   .headSocial svg {
      width: 2rem !important;
      height: 2rem !important;
      fill: #707070;
   }
} */
