.walletSection {
   background-color: #f5f7fa;
   padding: 60px 0;
}

.walletTag {
   font-size: 48px;
   color: black;
   padding-left: 50px;
   font-weight: 700;
   margin-bottom: 8px;
}
.walletContent {
   border: 1px solid cyan;
   padding: 10px;
}
@media (max-width: 991.98px) {
   .walletTag {
      text-align: center;
      padding-left: 0;
   }
}

@media (max-width: 576px) {
   .walletSection {
      /* padding: 20px 0; */
      border: 1px solid green;
   }
   .walletTag {
      font-size: 36px;
      text-align: center;
      padding-left: 0;
      padding: 20px;
      margin: 20px auto;
      border: 1px solid green;
   }
}

/* @media (max-width: 1399.98px) { ... }

@media (max-width: 1199.98px) { ... }

@media (max-width: 991.98px) { ... }

@media (max-width: 767.98px) { ... }

@media (max-width: 575.98px) { ... } */
