.consumer {
   border: none;
   background-color: white;
   color: black;
   font-size: 1rem;
   font-weight: 600;
}

.consumer:hover {
   background-color: rgb(233, 235, 239);
   color: black;
}

/* @media (max-width: 992px) {
   .consumer {
      padding: 10px;
      margin: 10px;
   }
} */
