.businessToolsSection {
   padding: 60px;
   margin: 20px auto;
}
.businessToolsTag {
   font-size: 40px;
   color: black;
   padding-left: 50px;
   font-weight: 700;
   margin-bottom: 10px;
}

.businessToolsInnerContent {
   padding-top: 30px;
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
@media (max-width: 991.98px) {
   .businessToolsSection {
      padding: 30px;
      /* text-align: center; */
   }
   .businessToolsTag {
      padding-left: 0;
   }
   .businessToolContent {
      text-align: center;
   }
   /* .businessToolsTag {
      font-size: 36px;
      padding: 20px 0;
   } */
   .businessToolsInnerContent {
      justify-content: space-around;
      gap: 30px;
   }
}
@media (max-width: 576px) {
   .businessToolsTag {
      font-size: 28px;
   }
   /* .businessToolsInnerContent {
      justify-content: center;
   } */
}
